.header{
  margin-bottom: 1vw;
  padding: 1vw 0 1vw 1vw;
  display: flex;
  align-items: flex-end;
  position: relative;
  .divider{
    position: absolute;
    bottom: 0;
    display: block;
    width: 82vw;
    height: 3px;
    background-color: white;
    border-radius: 3px;
  }
  img{
    width: 12vw;
    margin-right: 1vw;
  }
  h1{
    font-size: 2vw;
    color: white;
    text-shadow: 2px 2px 5px #1f1f1f;
    margin: 0;
  }
  span{
    display: block;
    margin-top: .5vw;
    color: white;
    font-size: .9vw;
  }
}
@media screen and (max-width: 991px) {
  .header{
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-bottom: 2vw;
    .divider{
      width: 98%;
    }
    h1{
      font-size: 3vw;
    }
    span{
      font-size: 2vw;
    }
  }
}
@media screen and (max-width: 768px) {
  .header{
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-bottom: 2vw;
    .divider{
      width: 98%;
    }
    h1{
      font-size: 3.5vw;
    }
    span{
      font-size: 2vw;
    }
  }
}
@media screen and (max-width: 576px) {

}
@media screen and (max-width: 420px) {
  .header{
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-bottom: 3vw;
    .divider{
      width: 98%;
    }
    h1{
      font-size: 6vw;
    }
    span{
      font-size: 3.5vw;
    }
  }
}
